/*
Name: Dmitry Volodkevich
Date Created: 7/12/2020
Most recent revision:
*/

body {
    background-color: aliceblue;
    font-family: arial, helvetica, sans-serif;
    color: #0d1f2d;
	max-width: 900px;
    margin: 0 auto;
}
header, footer {
    background-color: steelblue;
    color: #fef9ff;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}
footer {
	margin-top: 10px;
}

h1 {
    font-size: 2.5em;
}
nav {
    border-top: 3px dashed steelblue;
    border-bottom: 3px dashed steelblue;
	margin-top: 4px;
}

nav a {
    background-color: steelblue;
    color: #fef9ff;
    padding: 8px;
    border: thin solid #0d1f2d;
    text-decoration: none;
    text-align: center;
	display: block;
	margin: 20px;
	width: 100px;
	float: left;
}

/* Creating article layouts */
.clear-float {
	clear:both;
}

/* Adding styles to navigation buttons */
nav a:visited {
    color: #e4c3ad; 
}
		
nav a:hover {
    background-color: #fef9ff;
    color: #5b7d87;
	font-weight: bold;
}		

nav a:active {
    font-weight: bold;
}

