/*
Name: Dmitry Volodkevich
Date Created: 7/12/2020
Most recent revision:
*/

/* Override the colors of Jambotron and add borders to the navigation */
body {
    background-color: aliceblue;
}
header, footer {
    color: #fef9ff;
}



